<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>HW Registration</title>

    <link rel="stylesheet" href="/webjars/foundation/6.0.3/dist/foundation.css"/>
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="../static/css/custom.css"/>
    <link rel="stylesheet" th:href="@{/dataTables/DataTables-1.10.10/css/dataTables.foundation.css}" href="../static/dataTables/DataTables-1.10.10/css/dataTables.foundation.css"/>
    <!--<link rel="stylesheet" th:href="@{/dataTables/Buttons-1.1.0/css/buttons.foundation.css}" href="../static/dataTables/Buttons-1.1.0/css/buttons.foundation.css"/>-->

</head>

<body ng-app="HWRegistrationApp">

<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">HW Registration</li>
            <li><a href="#registration">Register</a></li>
            <li><a href="#report">Reports</a></li>
        </ul>
    </div>
</div>

<div style="padding-bottom: 10%" ng-view=""></div>

<script type="text/javascript" src="/webjars/jquery/2.1.1/jquery.js"></script>

<script type="text/javascript" src="/webjars/angularjs/1.4.8/angular.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.4.8/angular-resource.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.4.8/angular-route.js"></script>
<script type="text/javascript" src="/webjars/angular-auto-validate/1.18.16/dist/jcs-auto-validate.min.js"></script>

<script type="text/javascript" src="/webjars/foundation/6.0.3/dist/foundation.js"></script>
<script type="text/javascript" th:src="@{/dataTables/DataTables-1.10.10/js/jquery.dataTables.js}" src="../static/dataTables/DataTables-1.10.10/js/jquery.dataTables.js"></script>
<script type="text/javascript" th:src="@{/dataTables/DataTables-1.10.10/js/dataTables.foundation.js}" src="../static/dataTables/DataTables-1.10.10/js/dataTables.foundation.js"></script>
<!--<script type="text/javascript" th:src="@{/dataTables/Buttons-1.1.0/js/buttons.foundation.js}" src="../static/dataTables/Buttons-1.1.0/js/buttons.foundation.js"></script>-->
<script type="text/javascript" src="/webjars/angular-datatables/0.5.1/dist/angular-datatables.js"></script>

<script type="text/javascript" th:src="@{/app/app.js}" src="../static/app/app.js"></script>
<script type="text/javascript" th:src="@{/app/components/registration/registrationController.js}" src="../static/app/components/registration/registrationController.js"></script>
<script type="text/javascript" th:src="@{/app/components/registration/registrationService.js}" src="../static/app/components/registration/registrationService.js"></script>
<script type="text/javascript" th:src="@{/app/components/report/reportController.js}" src="../static/app/components/report/reportController.js"></script>
<script type="text/javascript" th:src="@{/app/components/report/reportService.js}" src="../static/app/components/report/reportService.js"></script>

</body>
</html>