<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>HW Registration</title>

    <link rel="stylesheet" href="/webjars/foundation/6.0.3/dist/foundation.min.css"/>
</head>

<body ng-app="HWRegistrationApp">

<div ng-view=""></div>

<script type="text/javascript" src="/webjars/angularjs/1.4.8/angular.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.4.8/angular-resource.js"></script>
<script type="text/javascript" src="/webjars/angularjs/1.4.8/angular-route.js"></script>
<script type="text/javascript" src="/webjars/jquery/2.1.1/jquery.js"></script>
<script type="text/javascript" src="/webjars/foundation/6.0.3/dist/foundation.js"></script>

<script type="text/javascript" th:src="@{/app/app.js}" src="../static/app/app.js"></script>
<script type="text/javascript" th:src="@{/app/components/registration/registrationController.js}" src="../static/app/components/registration/registrationController.js"></script>
<script type="text/javascript" th:src="@{/app/components/registration/registrationService.js}" src="../static/app/components/registration/registrationService.js"></script>

</body>
</html>