<div>
    <form name="registrationForm" novalidate="novalidate">
        <div class="row">
            <div class="medium-8 medium-centered columns">
                <fieldset class="fieldset">
                    <legend>User Registration</legend>
                    <div ng-show="errors.api">
                        <span class="error">{{ errors.api }}</span>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns">
                            <label>First Name
                                <small>required</small>
                                <input id="firstName" type="text" ng-model="registration.person.firstName"/>
                            </label>
                        </div>
                        <div class="medium-6 columns">
                            <label>Last Name
                                <small>required</small>
                                <input id="lastName" type="text" required="" ng-model="registration.person.lastName"
                                       ng-minlength="1" ng-maxlength="255"/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-12 columns">
                            <label>Address 1
                                <small>required</small>
                                <input id="address.address1" type="text" required=""
                                       ng-model="registration.address.address1" ng-minlength="1" ng-maxlength="255"/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-12 columns">
                            <label>Address 2
                                <input id="address.address2" type="text" ng-model="registration.address.address2"
                                       ng-maxlength="255"/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns">
                            <label>City
                                <small>required</small>
                                <input id="address.city" type="text" required="" ng-model="registration.address.city"
                                       ng-minlength="1" ng-maxlength="255"/>
                            </label>
                        </div>
                        <div class="medium-6 columns">
                            <label>State
                                <small>required</small>
                                <select id="address.state" required="" ng-model="registration.address.state">
                                    <option value="MI">Michigan</option>
                                    <option value="SC">South Carolina</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns">
                            <label>Zip Code
                                <small>required</small>
                                <input id="address.zipCode" type="text" required=""
                                       ng-model="registration.address.zipCode" ng-minlength="5" ng-maxlength="10"
                                       ng-pattern="/^[0-9]{5}(?:-[0-9]{4})?$/"/>
                            </label>
                        </div>
                        <div class="medium-6 columns">
                            <label>Country
                                <small>required</small>
                                <select id="address.country" required="" ng-model="registration.address.country">
                                    <option value="USA">United States</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 large-centered columns">
                            <button class="button" ng-click='toggleModal()' ng-disabled="registrationForm.$invalid">
                                Save
                            </button>
                        </div>
                    </div>
                    <modal-dialog show='modalShown' width='40%' height='40%'>
                        <div class="row">
                            <div class="large-centered columns" style="padding-bottom: 1em;">
                                <span>Are you sure you want to save this user?</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-centered columns">
                                <!--<input id="cancelSubmit"  style="float:left" class="button left" ng-click="hideModal()">-->
                                <input id="registrationSubmit" type="submit" class="large button"
                                       ng-disabled="registrationForm.$invalid"
                                       ng-click="saveRegistration(registration)"/>
                            </div>
                        </div>
                    </modal-dialog>
                </fieldset>
            </div>
        </div>
    </form>
</div>